
/*　home 共通
------------------------------------------------------------------------------------------------*/

.idea-li{
  width: 100%;
}
.idea-li li{
  display: block;
  border-bottom: 1px solid #EAEAEA;
}
.idea-li li.head{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #91888D;
  border-bottom: none;
}
.idea-li li.head + li{
  border-top: 1px solid #EAEAEA;
}
.idea-li li a{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem 0;
  transition: background-color 0.4s;
}
.idea-li li a:hover{
  background: #F8F8F8;
  opacity: 1;
}
.idea-li li .ttl{
  flex: 1;
}
.idea-li li a .ttl h3{
  font-weight: 400;
}
.idea-li li .ttl .date{
  display: block;
  font-size: 1.4rem;
  color: #91888D;
}
.idea-li li .ttl:has( .name){
  padding-right: 13.2rem;
  position: relative;
}
.idea-li li .ttl .name,
.idea-li li .ttl .authorizer{
  width: 12rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.idea-li li .status{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.6rem;
  height: 3.4rem;
  border-radius: 1.7rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.idea-li.ceo-idea-li li.head{
  gap: 2.4rem;
}
.idea-li.ceo-idea-li li.head div:nth-child(1){
  flex-grow: 1;
}
.idea-li.ceo-idea-li li.head div:nth-child(2),
.idea-li.ceo-idea-li li.head div:nth-child(3){
  width: 12rem;
}
.idea-li.ceo-idea-li li .ttl .name{
  right: 14.4rem;
}


.sort{
  display: inline-block;
  position: relative;
}
.sort::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 100%;
  background: url(../images/sort-arrow1.svg) center 55% no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}
.sort select {
  display: block;
  padding-right: 2.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  direction: rtl;
  color: #71ABD3;
  background: none;
  border: none;
}




/*　post 共通
------------------------------------------------------------------------------------------------*/

.post .sec{
  display: flex;
}
.post .sec .content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.post input[type=text],
.post textarea{
  display: block;
  width: 100%;
  background: transparent;
  border: none;
}
.post input[type=text].title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.post textarea.message{
  flex-grow: 1;
  font-size: 1.8rem;
  resize: none;
}




/*　ai 共通
------------------------------------------------------------------------------------------------*/

.sec:has( .send-message){
  padding-bottom: 21rem;
}


ul.chat li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  min-height: 6rem;
  padding: 1.6rem;
  border-radius: 1.2rem;
}
ul.chat li + li{
  margin-top: 1.6rem;
}
ul.chat li.your-message{
  background: #E4EAF0;
}
ul.chat li.ai-message{
  background: #fff;
  padding-left: 6.4rem;
  position: relative;
}
ul.chat li.ai-message img.icon{
  width: 3.6rem;
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
}

.send-message{
  width: 100%;
  padding-bottom: 1.8rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
.send-message form{
  position: relative;
}
.send-message form textarea{
  display: block;
  width: 100%;
  height: 10rem;
  border-radius: 1.2rem;
  padding: 1.6rem 6rem 1.6rem 1.6rem;
  background: #fff;
  border: 1px solid #D8D8D8;
  font-size: 1.6rem;
  resize: none;
}
.send-message form button{
  display: block;
  width: 3.6rem;
  background: transparent;
  border: none;
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  transition: opacity 0.4s;
}
.send-message form button img{
  width: 100%;
}
.send-message form button:hover{
  opacity: 0.7;
}
.send-message small{
  display: block;
  font-size: 1.2rem;
  line-break: 1.5;
  color: #91888D;
  margin-top: 1em;
}




/*　mypage 共通
------------------------------------------------------------------------------------------------*/

.form label{
  display: block;
  color: #91888D;
  margin-bottom: 0.5em;
}
.form label:not(:first-child){
  margin-top: 3rem;
}
.form input[type=text]{
  display: block;
  width: 100%;
  border-radius: 0.8rem;
  padding: 0.7em 1.2rem;
  background: #fff;
  border: 1px solid #EAEAEA;
  font-size: 1.6rem;
}
.form .error{
  font-size: 1.4rem;
  margin-top: 0.5em;
  color: #DE4D74;
}
.form input:has( + .error){
  border: 1px solid #DE4D74;
}
.form .btn-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.6rem;
}
.form input[type=submit]{
  width: 16rem;
  line-height: 4.8rem;
  border-radius: 0.8rem;
  background: #71ABD3;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  transition: opacity 0.4s;
  margin-top: 3.6rem;
}
.form input[type=submit].w21{
  width: 21rem;
}
.form input[type=submit]:hover{
  opacity: 0.7;
}
.form .btn-wrap input[type=submit]{
  margin-top: 0;
}
.form .btn-wrap ul{
  display: flex;
  font-size: 1.4rem;
}
.form .btn-wrap ul li{
  display: block;
}
.form .btn-wrap ul li + li::before{
  content: "｜";
  margin: 0 0.8rem;
}
.form .btn-wrap ul li a{
  font-weight: 700;
  color: #71ABD3;
  font-size: 1.2rem;
}
.form .other{
  margin-top: 3rem;
}
.form .other p + p{
  margin-top: 0.8em;
}
.form .other a{
  font-weight: 700;
  color: #71ABD3;
}




/*　detail 共通
------------------------------------------------------------------------------------------------*/

.modal{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.modal_bg{
  background: #131112;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  overflow-y: scroll;
  overscroll-behavior: contain;
  -ms-overflow-style: none; /* バー非表示 IE・Edge用 */
  scrollbar-width: none; /* バー非表示 Firefox用 */
}
.modal_content{
  background: #fff;
  max-width: calc(100% - 3.2rem);
  max-height: 90%;
  padding: 2.4rem;
  border-radius: 0.6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  
  overflow-y: scroll;
  overscroll-behavior: contain;
  -ms-overflow-style: none; /* バー非表示 IE・Edge用 */
  scrollbar-width: none; /* バー非表示 Firefox用 */
}
.modal_bg::before,
.modal_content::before{
  content: "";
  display: block;
  width: 1px;
  height: calc(100% + 1px);
  position: absolute;
  left: 0;
  top: 0;
}
/* バー非表示 Chrome・Safari用 */
.modal_bg::-webkit-scrollbar,
.modal_content::-webkit-scrollbar{
  display: none;
}
.modal_content a.close-btn{
  display: block;
  width: 3rem;
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
}
.modal_content a.close-btn img{
  width: 100%;
}

.reason-modal .modal_content{
  width: 72rem;
}
.reason-modal label{
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.reason-modal textarea{
  display: block;
  width: 100%;
  height: 24rem;
  border-radius: 0.8rem;
  padding: 1.6rem;
  background: #fff;
  border: 1px solid #EAEAEA;
  font-size: 1.6rem;
  resize: none;
}
.reason-modal input[type=submit]{
  width: 100%;
  line-height: 5.2rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2.4rem;
  transition: opacity 0.4s;
}
.reason-modal input[type=submit]:hover{
  opacity: 0.7;
}

.post-popup .modal_content{
  width: 33rem;
  padding: 3rem 2.4rem;
  text-align: center;
}
.post-popup .check{
  width: 6.4rem;
  margin: 0 auto 1rem;
}
.post-popup p{
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 700;
}
.post-popup .n-btn{
  width: 100%;
  height: 4.8rem;
  margin-top: 2rem;
}
.post-popup a.cancel{
  display: block;
  font-size: 1.4rem;
  width: fit-content;
  margin: 2rem auto 0;
}


.detail .sec{
  padding: 0;
  height: calc(100vh - 13.8rem);
}
.detail .sec .content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.detail .sec .tab-content{
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: contain;
  -ms-overflow-style: none; /* バー非表示 IE・Edge用 */
  scrollbar-width: none; /* バー非表示 Firefox用 */
}
/* バー非表示 Chrome・Safari用 */
.detail .sec .tab-content::-webkit-scrollbar{
  display: none;
}
.detail .sec .detail-wrap{
  padding: 3rem 4rem 8rem 0;
}
.detail .sec .detail-wrap h2.ttl-1{
  margin-bottom: 0.3em;
}
.detail .sec .detail-wrap .date{
  margin-bottom: 3rem;
}
.detail .sec .ai-wrap{
  padding: 3rem 0 21rem 4rem;
  border-left: 1px solid #D8D8D8;
}
.detail .sec .send-message{
  width: 54rem;
  max-width: calc(50% - 8rem);
  left: calc(50% + 4rem);
}




/*　dashboard 共通
------------------------------------------------------------------------------------------------*/

.sort-2{
  width: 18rem;
  position: relative;
  margin-bottom: 2.4rem;
}
.sort-2.w24{
  width: 24rem;
}
.sort-2 .accttl{
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  border-radius: 2.4rem;
  background: #F5F7FA;
  border: none;
  padding: 0 5.6rem 0 1.6rem;
  font-size: 1.8rem;
  position: relative;
}
.sort-2.w24 .accttl{
  font-size: 2.4rem;
  font-weight: 700;
}
.sort-2 .accttl::before{
  content: "";
  display: block;
  width: 2.4rem;
  height: 100%;
  background: url(../images/sort-arrow2.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  right: 1.6rem;
  top: 0;
}
.sort-2 ul.accshow{
  width: 100%;
  background: #fff;
  border-radius: 1.2rem;
  padding: 1rem 0;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
  position: absolute;
  left: 0;
  top: 4.8rem;
}
.sort-2 ul.accshow li{
  display: block;
}
.sort-2 ul.accshow li a{
  display: block;
  padding: 0.5em 1.6rem;
  transition: background 0.4s;
}
.sort-2 ul.accshow li a:hover{
  background: #F5F7FA;
  opacity: 1;
}


.dash-box{
  width: 100%;
  background: #fff;
  border-radius: 1.2rem;
  padding: 2.4rem;
}
.dash-box + .dash-box,
.dash-box + .dash-wrap{
  margin-top: 2.4rem;
}
.dash-wrap{
  display: flex;
  gap: 2.4rem;
}
.dash-wrap .dash-box{
  margin-top: 0;
}

.dash-box .ttl-1{
  margin-bottom: 2rem;
}

.dash-box .img-grid{
  display: grid;
  grid-template-columns: 36% 1fr;
  gap: 2.4rem;
}

.tag-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.tag-wrap .tag{
  display: inline-block;
  line-height: 3.4rem;
  border-radius: 1.8rem;
  border: 1px solid #131112;
  padding: 0 0.8em;
  transition: color 0.4s, background 0.4s;
}
.tag-wrap .tag.active,
.tag-wrap a.tag:hover{
  background: #131112;
  color: #fff;
  opacity: 1;
}
.dash-box .tag-wrap:not(:last-child){
  margin-bottom: 3rem;
}

.dash-box .n-btn{
  margin-top: 2.4rem;
}

.dash-box dl.employee-dl{
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1.2rem;
  row-gap: 1em;
}




/*　report 共通
------------------------------------------------------------------------------------------------*/

.dash-box .period-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.dash-box .period-wrap .ttl-1,
.dash-box .period-wrap .sort-2{
  margin-bottom: 0;
}
.dash-box .period-wrap .period{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

ul.keyword-analysis li{
  display: block;
}
ul.keyword-analysis li + li{
  margin-top: 2rem;
}
ul.keyword-analysis li h3{
  font-size: 1.8rem;
  color: #71ABD3;
  margin-bottom: 0.4em;
}




/*　スマホ
------------------------------------------------------------------------------------------------*/
@media (max-width: 768px){

/*　home SP
------------------------------------------------------------------------------------------------*/

.idea-li li.head{
  font-size: 1.2rem;
}
.idea-li li a{
  align-items: flex-start;
  padding: 1.6rem 0;
  font-size: 1.4rem;
}
.idea-li li .ttl .date{
  font-size: 1.2rem;
}
.idea-li li .ttl:has( .name){
  padding-right: 0;
}
.idea-li li .ttl .name,
.idea-li li .ttl .authorizer{
  display: inline-block;
  width: unset;
  position: unset;
  transform: unset;
  font-size: 1.2rem;
}
.idea-li li .ttl .authorizer{
  margin-left: 1em;
}
.idea-li li .ttl .name span,
.idea-li li .ttl .authorizer span{
  color: #91888D;
  margin-right: 0.5em;
}



/*　post SP
------------------------------------------------------------------------------------------------*/

.post input[type=text].title{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.post textarea.message{
  font-size: 1.5rem;
}




/*　ai SP
------------------------------------------------------------------------------------------------*/

.sec:has( .send-message){
  padding-bottom: 18rem;
}


ul.chat li{
  padding: 1.2rem;
}
ul.chat li.ai-message{
  padding-left: 5.2rem;
}
ul.chat li.ai-message img.icon{
  width:2.8rem;
}

.send-message{
  padding-bottom: 1.2rem;
}
.send-message form textarea{
  height: 8rem;
  padding: 1.2rem 6rem 1.2rem 1.2rem;
  font-size: 1.5rem;
}
.send-message form button{
  width: 3.6rem;
  right: 1rem;
  bottom: 1rem;
}




/*　mypage 共通
------------------------------------------------------------------------------------------------*/

.form label:not(:first-child){
  margin-top: 2rem;
}
.form input[type=text]{
  font-size: 1.5rem;
}
.form .btn-wrap{
  display: block;
  margin-top: 2rem;
}
.form input[type=submit],
.form input[type=submit].w21{
  width: 100%;
  font-size: 1.4rem;
  margin-top: 2rem;
}
.form .btn-wrap ul{
  justify-content: center;
  margin-top: 3rem;
}
.form .other{
  text-align: center;
}




/*　detail SP
------------------------------------------------------------------------------------------------*/

.modal_content{
  padding: 1.6rem;
}
.modal_content a.close-btn{
  right: 1rem;
  top: 1rem;
}

.reason-modal label{
  font-size: 2rem;
  margin-bottom: 2rem;
}
.reason-modal textarea{
  padding: 1.2rem;
}
.reason-modal input[type=submit]{
  line-height: 4.8rem;
  font-size: 1.4rem;
  margin-top: 1.6rem;
}

.post-popup p{
  font-size: 1.4rem;
}
.post-popup p:has( + .n-btn){
  font-size: 1.8rem;
}


.list-tab{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 5.2rem;
  background: #fff;
  position: sticky;
  top: 12.2rem;
  z-index: 999;
}
.list-tab > li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.list-tab > li::before{
  content: "";
  display: block;
  width: 100%;
  height: 0.4rem;
  background: #71ABD3;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s;
}
.list-tab > li.active{
  color: #71ABD3;
  font-weight: 700;
}
.list-tab > li.active::before{
  opacity: 1;
}

.tab-content{
  display: none;
}
.tab-content.active{
  display: block;
  animation: tab-change 0.4s both;
}
@keyframes tab-change {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.detail .sec{
  padding: 0;
  height: auto;
}
.detail .sec .content{
  display: block;
}
.detail .sec .detail-wrap{
  padding: 2.4rem 0 6rem;
}
.detail .sec .detail-wrap .date{
  margin-bottom: 2rem;
}
.detail .sec .ai-wrap{
  padding: 2.4rem 0 18rem;
  border-left: none;
}
.detail .sec .send-message{
  width: 100%;
  max-width: unset;
  left: 0;
  padding: 0 1.6rem 1.2rem;
}




/*　dashboard SP
------------------------------------------------------------------------------------------------*/

.sort-2,
.sort-2.w24{
  width: 100%;
  margin-bottom: 1.6rem;
}
.sort-2 .accttl,
.sort-2.w24 .accttl{
  height: 4.2rem;
  border-radius: 2.1rem;
  padding: 0 4.4rem 0 1.6rem;
  font-size: 1.6rem;
}
.sort-2 .accttl::before{
  right: 1rem;
}
.sort-2 ul.accshow{
  top: 4.2rem;
}


.dash-box{
  padding: 2.4rem 1.6rem;
}
.dash-box + .dash-box,
.dash-box + .dash-wrap{
  margin-top: 1.6rem;
}
.dash-wrap{
  gap: 1.2rem;
}
.dash-wrap .dash-box{
  margin-top: 0;
}

.dash-box .ttl-1{
  margin-bottom: 1.6rem;
}

.dash-box .img-grid{
  display: block;
}

.tag-wrap{
  gap: 0.8rem;
}
.tag-wrap .tag{
  line-height: 3.2rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
}
.dash-box .tag-wrap:not(:last-child){
  margin-bottom: 2rem;
}

.dash-box dl.employee-dl{
  column-gap: 0.5rem;
  row-gap: 0.8em;
}




/*　report SP
------------------------------------------------------------------------------------------------*/

.dash-box .period-wrap{
  flex-wrap: wrap;
  gap: 2rem;
}
.dash-box .period-wrap .period{
  width: 100%;
}

ul.keyword-analysis li h3{
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}




}/*　スマホここまで */



